/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    list-style: none;
    text-decoration: none;
}

a {
    color: #b5b5b5;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.btn {
    padding: 15px 20px;
    border-radius: 10px;
}

/* ------------------------------------- */

/* START NAV */

header {
    width: 100%;
    height: 90px;
    padding: 0 300px;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

#nav-left,
#nav-right {
    height: 100%;
    display: flex;
    align-items: center;
}

#nav-left > ul,
#nav-right > ul {
    display: flex;
    align-items: center;
}

#nav-left #logo {
    width: 20px;
    vertical-align: middle;
}

#nav-left .list-inline-l li {
    display: inline-block;
    line-height: 90px;
    margin-right: 30px;
}

#nav-left .list-inline-l li:first-child {
    margin-right: 50px;
}

#nav-left .list-inline-l li:nth-child(2) a {
    color: #000;
    font-weight: 700;
}

#nav-left .list-inline-l > li > a,
#nav-right .list-inline-r  > li > a {
    display: inline-block;
    height: 100%;
    color: #b5b5b5;
}

#nav-left .list-inline-l a:hover,
#nav-right .list-inline-r a:hover {
    color: #000;
}

#nav-right .list-inline-r > li {
    position: relative;
    display: inline-block;
    line-height: 90px;
    margin-left: 30px;
}

#nav-right #login {
    color: #000;
    font-weight: 700;
    background-color: #DADBDB;
    line-height: 1;
}
#nav-right #login:hover {
    background-color: #c7c9c9;
}

#nav-right #download {
    color: #fff;
    font-weight: 700;
    line-height: 1;
    background-color: #000;
}

#nav-right #download:hover {
    background-color: #2e2e2e;
}

/* dropdown menu */
#nav-right .dropdown {
    display: none;
    width: max-content;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

#nav-right .list-container ul:first-child {
    margin-left: 0;
}

#nav-right .active {
    display: block;
} 

#nav-right .position {
    position: absolute;
    top: 90%;
    left: -30%;
}

#nav-right .list-container.position {
    position: absolute;
    top: 90%;
    left: -400%;
}

#nav-right .list-drop li {
    padding: 0;
    margin: 0;
    line-height: 2.5;
}

#nav-right .list-drop a {
    color: #b5b5b5;
}

#nav-right .list-drop a:hover {
    color: #000;
}

#nav-right .list-container ul {
    display: inline-block;
    margin-left: 100px;
}

#nav-right .list-container .title {
    color: #d5d5d5;
    font-size: 12px;
    font-weight: 700;
}

#nav-right .list-container .title i {
    margin-right: 10px;
    font-size: 20px;
    vertical-align: middle;
}

#nav-right .list-container ul:nth-child(2n + 2) li:last-child a {
    color: #d5d5d5;
}

/* /dropdown menu */

/* END NAV */
